In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('employees.csv', parse_dates = ['Start Date', 'Last Login Time'])
df['Senior Management'] = df['Senior Management'].astype('bool')
df['Gender'] = df['Gender'].astype('category')
df.head(3)

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,1993-08-06,2022-03-14 12:42:00,97308,6.945,True,Marketing
1,Thomas,Male,1996-03-31,2022-03-14 06:53:00,61933,4.170,True,NaN
2,Maria,Female,1993-04-23,2022-03-14 11:17:00,130590,11.858,False,Finance

In [6]:
df['Gender'].unique()

df['Team'].unique()

array(['Marketing', nan, 'Finance', 'Client Services', 'Legal', 'Product',
       'Engineering', 'Business Development', 'Human Resources', 'Sales',
       'Distribution'], dtype=object)

In [8]:
len(df['Team'].unique())

11

In [10]:
df['Team'].nunique(dropna = False)

11